<header>
   <nav>
      <div>
         <h6 style="color: white">Welcome,</h6>
         <h6 style="color: white"><%= user.username %></h6>
      </div>
      <h2><a style="color: white" href="/feed">BaceFook</a></h2>
      <h6><a style="color: white" href="/logout">Logout</a></h6>
   </nav>
</header>
