<%- include('partials/head'); -%>

   <body>
      <section class="container-center">
            <main class="text-center">
               <h1><a href="/feed">BaceFook</a></h1>
               <div class="home-container">
                  <a class="btn" href="/login">Login</a>
                  <a class="btn" href="/signup">Signup</a>
               </div>
            </main>
      </section>
   </body>
</html>
